$primary: pink;
$corBotao: rgb(208, 132, 61);
$secBtn: #930;
$dark: black;
$rato: grey;
$neon: #14fff1;
$snewBot: rgba(0, 0, 0, 0.24);
$luz: yellow;
$nuvem: white;
$ratoDark: rgba(255, 255, 255, 0.3);
$sombraTex: rgba(0, 0, 0, 0.5);
$fVerde: green;
$fome: #DC2445;
$titleCor: yellowgreen;