@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  background-image: linear-gradient(green, yellowgreen, rgb(238, 238, 152));
  width: 100%;
}

.titulo {
  /*border:1px solid $dark;*/
  text-align: center;
  width: 100%;
  height: 60px;
}

h1 {
  margin-top: 10px;
  font-size: 2rem;
  letter-spacing: 5px;
}

.conteudo {
  /*border:1px solid $dark;*/
  width: 100%;
}

#acougue,
#bazar,
#bebidas,
#fiambreria,
#higiene,
#horti,
#mercearia,
#padaria,
#pets,
#temperos {
  /*border: 1px solid black;*/
  height: 1900px;
}
#acougue h2,
#bazar h2,
#bebidas h2,
#fiambreria h2,
#higiene h2,
#horti h2,
#mercearia h2,
#padaria h2,
#pets h2,
#temperos h2 {
  text-align: center;
}
#acougue form,
#bazar form,
#bebidas form,
#fiambreria form,
#higiene form,
#horti form,
#mercearia form,
#padaria form,
#pets form,
#temperos form {
  margin-top: 0;
  margin-left: 0;
  min-height: 100%;
}

.title-secao {
  /*border: 1px solid turquoise;*/
  width: 100%;
  height: 5%;
}
.title-secao h2 {
  margin-top: 10px;
}

.folha {
  display: flex;
  /*border:3px solid yellow;*/
  width: 100%;
  height: 95%;
}

.formulario {
  border: 1px solid black;
  width: 70%;
}

.formu {
  border: 1px solid black;
  width: 400px;
  margin-left: 70px;
  margin-top: 40px;
  position: absolute;
}

/*Aqui começa a estilização dos novos botões class slider*/
input.slider[type=checkbox] {
  width: 25px;
  height: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: black;
  border-radius: 20px;
  box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

input:checked[type=checkbox] {
  background: yellow;
}

input.slider[type=checkbox]:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  box-shadow: 0px 4px 8px 1px grey;
  transform: scale(1.1);
  top: 0;
  left: 0;
  transition: 0.4s;
}

input.slider:checked[type=checkbox]:before {
  left: 11px;
  box-shadow: inset -0.5px 0.5px 0.5px grey;
  box-shadow: -0.8px 0.5px 0.5px black;
}

/*Deste ponto para baixo, são as configurações de seleção do label sendo pintado de neon*/
input.slider:checked[type=checkbox] + input#p1 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p2 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p3 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p4 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p5 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p6 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p7 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p8 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p9 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p10 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p11 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p12 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p13 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p14 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p15 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p16 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p17 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p18 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p19 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p20 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p21 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p22 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p23 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p24 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p25 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p26 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p27 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p28 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p29 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p30 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p31 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p32 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p33 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p34 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p35 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p36 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p37 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p38 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p39 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p40 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p41 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p42 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p43 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p44 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p45 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p46 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p47 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p48 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p49 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p50 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p51 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p52 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p53 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p54 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p55 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p56 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p57 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p58 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p59 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p60 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p61 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p62 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p63 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p64 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p65 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p66 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p67 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p68 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p69 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p70 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p71 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p72 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p73 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

input.slider:checked[type=checkbox] + input#p74 + label {
  color: #14fff1;
  border: 1px solid #14fff1;
  border-radius: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 10px #14fff1, 0 0 3px #14fff1;
  transition: 0.4s;
}

.botoes {
  border: 1px solid black;
  width: 30%;
}

.btn {
  background: #f60;
  font-family: inherit;
  border: 0;
  border-radius: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 0 1px #930;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  margin-top: 15px;
  margin-left: 23%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.btn:active {
  box-shadow: 0 0 0 0 #930, inset 3px 3px 3px #930;
  transform: translate(3px 3px);
}
.btn a {
  text-decoration: none;
  color: White;
}/*# sourceMappingURL=list-style.css.map */