@mixin corESombra($cor, $tsombra) {
    color: $cor;
    text-shadow: 2px 2px 2px $tsombra;
}

@media screen and (max-width:768px) {

    .container {
        width: 100%;
    }

    .titulo h1 {
        letter-spacing: normal;
    }

    .formu {
        font-size: 18px;
    }

    .info {
        margin-left: 10px;
    }

    .helpi {
        left: 3%;
        max-width: 95%;
    }


    #acougue h2,
    #bazar h2,
    #bebidas h2,
    #fiambreria h2,
    #higiene h2,
    #horti h2,
    #mercearia h2,
    #padaria h2,
    #pets h2,
    #temperos h2 {

        @include corESombra (white, black);
    }


    #acougue form,
    #bazar form,
    #bebidas form,
    #fiambreria form,
    #higiene form,
    #horti form,
    #mercearia form,
    #padaria form,
    #pets form,
    #temperos form {

        @include corESombra(white, black);
    }
}

@media screen and (max-width:398px) {

    .formu {
        font-size: 14px;
    }

}


@media screen and (max-width:330px) {

    .formu {
        font-size: 13px;
    }
}

@media screen and (max-width:365px) {

    .titulo h1 {
        font-size: 23px;
    }
}