@mixin corESombra($cor, $tsombra) {
    color: $cor;
    text-shadow: 2px 2px 2px $tsombra;
}

@media only screen and (max-width:1012px) {

    .titulo h1 {
        letter-spacing: normal;
    }

    .info {
        margin-left: 380px;
    }

    .helpi {
        left: 3%;
        width: 460px;
        overflow: hidden;
    }


    #acougue h2,
    #bazar h2,
    #bebidas h2,
    #fiambreria h2,
    #higiene h2,
    #horti h2,
    #mercearia h2,
    #padaria h2,
    #pets h2,
    #temperos h2 {

        @include corESombra (white, black);
    }


    #acougue form,
    #bazar form,
    #bebidas form,
    #fiambreria form,
    #higiene form,
    #horti form,
    #mercearia form,
    #padaria form,
    #pets form,
    #temperos form {

        @include corESombra(white, black);
    }
}